<section id="inner-banner">
  <div class="container">
    <div class="row">
      <div class="inner-heading">
        <h2>Service Detail</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="index-2.html" title="Home">Home</a></li>
            <li class="breadcrumb-item"><a href="services.html" title="Services">Services</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Detail</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>