<section class="brand-logo-section">
    <div class="container">
      <div class="row bottom-logo-wrap">
        <div class="brand-logo-carousel owl-carousel owl-theme owl-loaded owl-drag">
          
          
          
          
          
          
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2052px, 0px, 0px); transition: all 0.25s ease 0s; width: 3648px;"><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand2.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand3.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand4.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand5.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand6.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand1.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand2.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand3.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand4.png" alt="">
            </a>
          </div></div><div class="owl-item active" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand5.png" alt="">
            </a>
          </div></div><div class="owl-item active" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand6.png" alt="">
            </a>
          </div></div><div class="owl-item cloned active" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand1.png" alt="">
            </a>
          </div></div><div class="owl-item cloned active" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand2.png" alt="">
            </a>
          </div></div><div class="owl-item cloned active" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand3.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand4.png" alt="">
            </a>
          </div></div><div class="owl-item cloned" style="width: 228px;"><div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="assets/img/brand5.png" alt="">
            </a>
          </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
      </div>
    </div>
  </section>