<section id="inner-banner">
    <div class="container">
      <div class="row">
        <div class="inner-heading">
          <h2>Blog Detail</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="blog-2-columns.html">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog Detail</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>