<section id="about-us" class="index-2">
    <div class="container">
      <div class="section_heading">
        <h1>About <span>Us</span></h1>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
        <div class="row row-safari">
          <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img_sec" src="img/about_us_2.jpg" alt="About" /> </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <h5>Providing best business solution for growing your business</h5>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            <a class="defualt-button view_more" href="/about-us">View More</a> </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="qualities col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 column">
            <div class="icon"><i class="flat flaticon-reward"></i></div>
            <div class="description">
              <h5>We are Professional</h5>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 column">
            <div class="icon"><i class="flat flaticon-enterprise"></i></div>
            <div class="description">
              <h5>Fastest Growing Company</h5>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 column">
            <div class="icon"><i class="flat flaticon-certificate"></i></div>
            <div class="description">
              <h5>Licensed and Certified</h5>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 column">
            <div class="icon"><i class="flat flaticon-working-team"></i></div>
            <div class="description">
              <h5>Leading Provider</h5>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>