<section id="services" class="gray-bg index-2">
    <div class="container">
      <div class="section_heading">
        <h2>Services</h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content">
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
        <div class="service-slider owl-one owl-carousel owl-theme">
          <div class="item"> 
            <div class="service_icon"></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Development">Non-Oil Export and Import</a></h5>
                <p>One of our Primary focus is on Delivering Agricultural crops for people across Nigeria and around the Globe</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Design">Real Estate & General Construction</a></h5>
                <p>Real Estate and General Construction is in synergy with the Government of Bayelsa State Physical Planning and Development Board (BSPPDB) and Bayelsa State Geographic Information System (BGIS)</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-servers"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Hosting">Business Consultant & Training</a></h5>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Digital Marketing">E-Commerce & Digital Marketing</a></h5>
                <p></p>
              </div>
            </div>
            </div>
              <div class="item"> 
            <div class="service_icon"></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Development">Non-Oil Export and Import</a></h5>
                <p>One of our Primary focus is on Delivering Agricultural crops for people across Nigeria and around the Globe</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Design">Real Estate & General Construction</a></h5>
                <p>Real Estate and General Construction is in synergy with the Government of Bayelsa State Physical Planning and Development Board (BSPPDB) and Bayelsa State Geographic Information System (BGIS)</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-servers"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Web Hosting">Business Consultant & Training</a></h5>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
              </div>
            </div>
            </div>
          <div class="item"> 
            <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
            <div class="connector"> <span></span> </div>
            <div class="service-card">
              <div class="service_detail">
                <h5><a href="service-detail.html" title="Digital Marketing">E-Commerce & Digital Marketing</a></h5>
                <p></p>
              </div>
            </div>
            </div>
        </div>
        <div class="h-border"><span></span></div>
      </div>
    </div>
  </section>