<div class="header-top contact_info">
            <div class="container">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="follow_us_on">
                <ul>
                  <li><MudLink Target="_blank" href="https://facebook.com/pierolollc"><MudIcon Style="color:ghostwhite" Icon="@Icons.Custom.Brands.Facebook" Size="Size.Small" Title="Facebook" /></MudLink></li>
                  
                    <li class="separator-pipesign white"></li>
                  
                  <li><MudLink Target="_blank" Href="https://twitter.com/PieroloLLC?s=20&t=u8TRR1T3etaWIR4mNw01vw" Underline="Underline.None" ><MudIcon Style="color:ghostwhite" Icon="@Icons.Custom.Brands.Twitter" Size="Size.Small" Title="Twitter" /></MudLink></li>
                  
                    <li class="separator-pipesign white"></li>
                  
                  
                  <li><MudLink Target="_blank" href="bit.ly/Exporters"><MudIcon Style="color:ghostwhite" Icon="@Icons.Custom.Brands.YouTube" Size="Size.Small" Title="Youtube" /></MudLink></li>
                  
                    <li class="separator-pipesign white"></li>
                  
                  <li><MudLink Target="_blank" href="https://instagram.com/pierolo_llc?igshid=YmMyMTA2M2Y="><MudIcon Style="color:ghostwhite" Icon="@Icons.Custom.Brands.Instagram" Size="Size.Small" Title="Instagram" /></MudLink></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mail-call">
              <div class="mail-to"><i class="flat flaticon-mail-black-envelope-symbol"></i>info@pierolo.com</div>
              <span class="separator-pipesign white"></span>
              <div class="call-on"><i class="flat flaticon-phone-receiver"> </i>+2349013570491</div>
              <span class="separator-pipesign white"></span>
              <div class="call-on"><i class="flat flaticon-phone-receiver"> </i>+13027037488</div>
            </div>
          </div>
        </div>
      </div>
    </div>

@code {

}

<style>
    .header-top.contact_info {
    background: #2d3192;
}

 
</style>